all:
  autologin_expiration: 84600

  notification:
    missing_bookings: true

  system:
    email:
      host: "##EMAIL_HOST##"
      authentification: true
      port: ##EMAIL_PORT##
      username: "##EMAIL_USER##"
      password: "##EMAIL_PWD##"
      from: "##EMAIL_FROM##"

  frontend_url: ##URL##